<ul class="nav">
    <li><a href="/">Início</a></li>
    <li><a href="/nome">Seu Nome</a></li>
    <li><a href="/idade">Sua Idade</a></li>
    <li><a href="/sobre">Sobre</a></li>
    <li><a href="/contato">Contato</a></li>
</ul>